
body
{
	background: #F0F5F3;
	border-top: 2px solid #AAB4B0;
	padding-top: 10px;
	padding: 0;
	margin: 0;
	font-size: 2em;
	font-family: 'Courier New', 'Courier';
}

#menu
{
	background: #fff;
	padding: 20px 0;
}

#menu img
{
	padding-top: 10px;
	max-width: 80%
}

#menu #menu-list
{
	list-style: none;
	font-size: 1em;
	margin: 0;
	padding: 10px 0 0 0;
}

#menu #menu-list li
{
	display: block;
}

.blog-container
{
	background: #fff;
	padding: 20px;
	font-size: 2em;
	margin-top: 40px;
	border-top: 5px solid #AAB4B0;
}

.blog-container p
{
	margin-bottom: 20px;
}

.blog-container h1
{
	margin-top: 0px;
	margin-bottom: 20px;
}

.full-screen-background
{
	background-repeat: no-repeat;
	background-position: center center;
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	background-size:cover;
}

#me-photo img
{
	display: inline-block;
	width: 160px;
	height: 160px;
	 border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	opacity: .95;
	border: 1px solid #5B6E7A;
}

@media (min-width: 900px)
{
	#menu img
	{
		float: left;
		padding-top: 20px;
		max-height: 100px;
	}
	#menu #menu-list
	{
		float: right;
	}
}

/*
.menu
{
	padding: 15px 0;
	text-align: center;
	background: #AAB4B0;
}

.menu .me-photo
{
	text-align: center;
}

.menu .name
{
	font-size: 3em;
	color: #eee;
}

.menu .title
{
	padding: 0 0 .6em 0;
	font-size: 2em;
}

.menu .me-photo img
{
	display: inline-block;
	width: 160px;
	height: 160px;
	 border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	opacity: .95;
	border: 1px solid #5B6E7A;
}

.menu .menu-list
{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-top: .9em;
	font-size: 2em;
}

.menu .menu-list li
{
	padding: 0;
	margin: 0;
	display: block;
}

.menu .menu-list li a
{
	padding: .2em 0;
	display: block;
}

.menu .menu-list li:first-child a
{
	padding: 0 0 .2em 0;
}

@media (min-width: 900px)
{
	.menu .name
	{
		font-size: 5em;
	}

	.menu .title
	{
		font-size: 3em;
		padding: .1em 0 .5em 0;
	}

	.menu .menu-list
	{
		font-size: 2.2em;
	}

	.menu .me-photo img
	{
		width: 220px;
		height: 220px;
	}
}*/

/*
.highlight-photo-portland
{
	background-image: url('/img/cassell_oregon_coast.jpg');
	background-size: 100%;
	display: block;
	width: 100%;
	height: 600px;
	background-position: 50% 50%;
}*/