
body
{
	background: #F0F5F3;
	border-top: 2px solid #AAB4B0;
	padding: 0;
	margin: 0;
	font-size: 2em;
	font-family: 'Courier New', 'Courier', monospace;
}

#me-highlight img
{
	width: 100%;
}

#menu
{
	background: #fff;
	padding: 15px 0 20px 0;
}

#menu img
{
	padding-top: 10px;
	max-width: 80%;
}

#menu #menu-list
{
	list-style: none;
	font-size: 1em;
	margin: 0;
	padding: 10px 0 0 0;
	/*text-align: right;*/
}

#menu #menu-list li
{
	display: block;
}

.blog-container
{
	background: #fff;
	padding: 20px;
	font-size: 1em;
	margin-top: 40px;
	border-top: 5px solid #AAB4B0;
}

.blog-container p
{
	margin-bottom: 20px;
}

.blog-container h1
{
	margin-top: 0px;
	margin-bottom: 20px;
}

.blog-container img
{
	max-width: 100%;
}

.blog-container pre
{
	word-break: normal;
	background: none;
	border: none;
	padding: 0px;
	word-break: normal;
}


.list-of-blog-articles-and-talks {
	list-style: none;
	margin: 0;
	padding: 0 0 30px 0;
}

.list-of-blog-articles-and-talks li {
	padding-bottom: 20px;
}

.list-of-blog-articles-and-talks a {
	font-size: 1.2em;
	line-height: 1em;
}

.list-of-blog-articles-and-talks a small {
}


@media (min-width: 900px)
{
	#menu img
	{
		float: left;
		padding-top: 20px;
		max-height: 100px;
	}
	#menu #menu-list
	{
		float: right;
		text-align: right;
	}

}

@media (min-width: 900px)
{
	.blog-container a.splash-photo img
	{
		max-width: none;
		width: 760px;
		margin-left: -40px;
	}
}

@media (min-width: 990px)
{
	.blog-container a.splash-photo img
	{
		width: 980px;
	}
}

@media (min-width: 1200px)
{
	.blog-container a.splash-photo img
	{
		width: 1180px;
	}
}

@media print
{
	body
	{
		border-top: none;
		color: #000;
		font-size: 1.2em;
	}
	
	#menu img
	{
		padding-top: 0px;
		width: 30%;
	}
	
	.no-print { display: none; }
	
	a[href]:after
	{
		content: "";
	}
	
	blockquote {
		border: none;
		page-break-inside: avoid;
	}
	
	.blog-container
	{
		background: #fff;
		padding: 0px;
		font-size: 1em;
		margin-top: 0px;
		border-top: 0;
	}
	
}

 
  